header {
    background-color: skyblue;
    display: flex;             
    justify-content: center;    
    align-items: center;       
    gap: 15px;                 
    padding: 10px;
}

*{
    margin:0px;
}              

header img {
    height: 50px;
    width: 50px;          
}

#content{
    color: white;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Gemini_Generated_Image_hl3ju6hl3ju6hl3j.png');
    background-position: center;
    background-attachment: fixed;
}

nav li{
    display: inline;
    margin-left: 50px;
    align-items: center;
}

nav{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
}

nav ol li a{
    text-decoration:none;
    color:white;
    font-size: large;
    padding: 8px;
}

nav ol li a:hover{
    text-decoration:none;
    color:white;
    font-size: large;
    background-color: black;
    border: solid black;
}

#motivation h1{
    color: white;
    text-align: center;
    width: 50%;
    margin: 20% 0% 20% 0%;
}

#motivation{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

footer a img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

